body {
	background-color: #eeeeee;
}

.relative {
  position: relative;
}

.relative img {
	width: 100%;
}

h1 {
	position: absolute;
  	top: 52%;
  	left: 0;
  	width: 100%;
  	height: 31%;
  	z-index: 10;
	font-weight: 600;
	font-size: 8.2vw;
	color: #FFFFFF;
	font-family: HelveticaNeue, sans-serif;
	font-weight: lighter;
	line-height: 70%;
	background-color: rgba(200, 200, 200, .3);
}

span {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: bold;
}

header p {
	font-family: helvetica, sans-serif;
	font-weight: 100;
	font-size: 20px;
}

a:link {
    text-decoration: none;
   	color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

div {
	width: 100%;
	border-style: solid;
	border-width: 1px;
	border-left-color: #eeeeee;
	border-right-color: #eeeeee;
	color: grey;
}

h2 {
	font-family: Helvetica, sans-serif;
	color: #0c2d4e;
}

.first {
	font-size: 60px;
}

.profile {
	font-size: 22px;
	font-weight: 200;
	font-family: helvetica;
}

.detail {
	font-family: Georgia, serif; 
	font-weight: 100;
	font-size: 15px;
}
